#football {
    border: 1px red solid;
    background-color: white;
    width: 90%;
    height: auto;
    border: 1px solid red;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px 350px;
    margin-top: 30px;
    margin-left: 70px;
}

#basketball {
    border: 1px red solid;
    background-color: white;
    width: 90%;
    height: auto;
    border: 1px solid red;
    margin: 5px;
    margin-left: 70px;
    margin-top: 30px;
}

h3 {
    margin: 5px;
    border: 1px red solid;
}


/* Football League Box starts here */
#football-league-videos {
    width: 99%;
    height: auto;
    border: 1px solid red;
    margin: 5px; 
}


.football-video {
    width: 360px;
    height: 240px;
    border: red 1px solid;
    background-color: white;
    display: inline-block;
    margin: 3px;
    box-shadow: 2px 2px grey;
}

.football-video:hover {
    width: 360px;
    height: 240px;
    border: red 1px solid;
    background-color: white;
    display: inline-block;
    margin: 3px;
    -webkit-filter: brightness(70%);
    position: relative;
    bottom: 2px;
    right: 2px;
    box-shadow: 5px 5px grey;
}


.videophoto {
    max-width: 360px;
    max-height: auto;
}


#football-videos-all {
    max-width: auto;
    height: 240px;
    border: red 1px solid;
    background-color: white;
    display: inline-block;
    margin: 3px;
    box-shadow: 2px 2px grey;
}

#football-videos-all:hover {
    max-width: auto;
    height: 240px;
    border: red 1px solid;
    background-color: white;
    display: inline-block;
    margin: 3px;
    -webkit-filter: brightness(70%);
    position: relative;
    bottom: 2px;
    right: 2px;
    box-shadow: 5px 5px grey;
}

#videoall {
    max-width: auto;
    height: 240px;
}


/* Other Activities Box starts here */
#other-videos {
    width: 99%;
    height: auto;
    border: 1px solid red;
    margin: 5px; 

}

.other-video {
    width: 360px;
    height: 240px;
    border: red 1px solid;
    background-color: white;
    display: inline-block;
    margin: 3px;
    box-shadow: 2px 2px grey;
    overflow: hidden;
}

.other-video:hover {
    width: 360px;
    height: 240px;
    border: red 1px solid;
    background-color: white;
    display: inline-block;
    margin: 3px;
    -webkit-filter: brightness(70%);
    position: relative;
    bottom: 2px;
    right: 2px;
    box-shadow: 5px 5px grey;
    overflow: hidden;
}

.videophoto2 {
    max-width: 360px;
    max-height: auto;
}